.App {
  display: block;
  width: 1200px;
  margin: 0 auto;
}

.title {
  margin: 15px auto;
  text-align: center;
}

::-webkit-scrollbar {
  max-height: 80%;
  width: 10px; 
  height: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #9e9e9e;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}